<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/tsClient" version="1.0.0" viewmodes="maximized">
    <tizen:application id="ZTMoHKHy9s.tsClient" package="ZTMoHKHy9s" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="tizen.org/feature/network.wifi"/>
    <icon src="icon.png"/>
    <name>tsClient</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="mobile"/>
    <tizen:setting context-menu="disable"/>
    <access origin="*" subdomains="true" />
</widget>
